.nav {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-top: 2%;
  justify-content: space-evenly;
}

.navigation {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social_medias {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 15%;
}

header {
  background-color: #4b7c87;
  margin: 0%;
}

body {
  margin: 0%;
}
