/* header */
header {
  background-color: #4b7c87;
  margin: 0%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 27%;
  padding-top: 2%;
}

.social_medias {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 15%;
}
.logo_facebook {
  border-radius: 15%;
}

/* body */

body {
  margin: 0%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.navigation {
  grid-column: 1;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* news */
.news {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.img_news {
  background-color: rgb(250, 240, 221);
}
.tuile_news {
  padding-top: 5%;
  border: 1px;
  border-radius: 5%;
}

.titre_news {
  background-color: rgb(216, 216, 216);
  border: 1px;
  border-radius: 5%;
  padding: 2.5%;
}
/* services */
.services {
  grid-column: 3;
  border: 1px solid;
  margin: 2.5% 5%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vide {
  background-color: blue;
}
.border_service {
  border: 1px;
  border-radius: 5%;
  min-width: 20%;
  max-width: 25%;
}

.titre_service {
  background-color: rgb(216, 216, 216);
  padding: 5%;
}

.contenu_service {
  padding: 5%;
  background-color: rgb(250, 240, 221);
  hyphens: auto;
}
/* footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background-color: #4b7c87;
}
.padding_footer {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  margin-left: 5%;
  white-space: nowrap;
  padding: 0.5% 0;
}

/* texte blanc sans deco (meme linkable) */

.white {
  color: white;
  text-decoration: none;
}
.white:visited {
  color: white;
  text-decoration: none;
}
.white:link {
  color: white;
  text-decoration: none;
}
.white:active {
  color: white;
  text-decoration: none;
}

/* texte noir sans deco (meme linkable) */

.black {
  color: black;
  text-decoration: none;
}
.black:visited {
  color: black;
  text-decoration: none;
}
.black:link {
  color: black;
  text-decoration: none;
}
.black:active {
  color: black;
  text-decoration: none;
}
